.About {
    background: #e0cdf3;
    font-family: fantasy;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    flex-direction: column
}

.About h2 {
    justify-content: flex-start;
}

.About p {
    margin: 0;
    text-align: center;
}

.About div {
    display: flex;
    padding: 0 15%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.About div p {
    width: 50%;
}

.About div figure {
    width: 40%;
    display: flex;
    justify-content: center;
}

.About img {
    margin: auto;
    border-radius: 50%;
}