.About {
    background: #c294ea;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    flex-direction: column
}

.About h2 {
    justify-content: flex-start;
}

.About p {
    margin: 0;
    /* align-items: center; */
    text-align: center;
}

.About img {}