.contentSection {
    background: #8a6b8f;
    padding: 20px;
    font-family: fantasy;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentSection h2 {
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contentSection h3 {
    text-align: center;
    align-items: flex-start;
}

.contentSection img {
    margin: auto;
    border-radius: 5%;
}

.contentSection div {
    display: flex;
    padding: 2% 15%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
}