.footer {
    background: #c294ea;
    height: 70px;
    font-size: small;
    font-family: fantasy;
}

.footer h1 {
    margin: 0;
    padding-top: 15px;
    text-align: center;
    color: white;
    font-size: 30px;
}