.header {
    background: #c294ea;
    font-family: fantasy;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-top: 3%;
    margin-left: 1rem;
    margin-right: 1rem;
}

.header h1 {
    margin: 0;
}

.secondHeader {
    text-align: center;
    background-color: #c294ea;
    font-family: fantasy;
    font-weight: bolder;
    font-size: large;
    padding-top: 1%;
    margin-left: 1rem;
    margin-right: 1rem;
}

.secondHeader h1 {
    margin: 0;
}

.navbar a {
    margin: 0px 10px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}